<div class="container px-0">
    <!-- <nav class="navbar navbar-expand-lg navbar-light border-bottom ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">tolkon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Market</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Activity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Featrues</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="#">Connect Wallet</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <div class="row">
      <div class="col-lg-8 border-end">
        <div class="pic">
          <img src="https://images.pexels.com/photos/886317/pexels-photo-886317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
      </div>
      <div class="col-lg-4 ps-0">
        <div class="content">
          <div class="content-head">
            <div class="d-flex align-items-center justify-content-between ">
              <p class="h-1 mb-0">Sparkle Twinkle</p>
              <p class="icon mb-0">
                <span class="fas fa-heart pe-1"></span>82
              </p>
            </div>
            <p class="text-white mb-3">
              <span class="textmuted">Minimum bid Amount</span> 15 ETH
            </p>
          </div>
          <div class="content-body">
            <div>
              <div class="topnav mb-3">
                <div class="d-flex px-1 border-bottom">
                  <a href="#" class="active textmuted">Details</a>
                  <a href="#" class="textmuted">Bids</a>
                </div>
              </div>
              <div class="text-white">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam nulla ad laborum quod libero, quam quos consequuntur </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem minima mollitia doloribus asperiores nihil, maiores aut iusto repudiandae doloremque veritatis. </p>
              </div>
              <div class=" text-white d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column">
                  <p class="textmuted mb-2">Creator</p>
                  <div class=" d-flex align-items-center justify-content-between content-img">
                    <div class="box-img">
                      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                      <span class="fas fa-shield-alt"></span>
                    </div>
                    <p class="mb-0 ms-3">MAJIDZ</p>
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <p class="textmuted mb-2">Collection</p>
                  <div class=" d-flex align-items-center justify-content-between content-img">
                    <img src="https://images.pexels.com/photos/5653734/pexels-photo-5653734.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                    <p class="mb-0 ms-3">Tolkon</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="progress mt-4">
            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <form [formGroup]="formdata"> 
          <div class="content-footer">
            <div class="d-flex align-items-center justify-content-between mt-3">
              <div class="d-flex flex-column text-white">
                <p class="mb-2 textmuted">Minimum bid Amount</p>
                <p class="mb-0 bid">15 bid</p>
              </div>
              <div class="d-flex flex-column text-white">
                <p class="mb-2 textmuted">Available untill</p>
                <!-- <p class="mb-0 bid">2:20:16</p> -->
                <!-- <p class="mb-0 bid">{{timeLeft}}</p> -->
              </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName = "currentBid" aria-label="current Bid">
                <input type="text" class="form-control" formControlName = "itemId" aria-label="Item ID">
                <input type="text" class="form-control" formControlName = "bid" aria-label="Amount (to the nearest dollar)">
              </div>
                <span class="input-group-text">.00</span>
            </div>
  
            <!-- <div class="btn btn-primary w-100 my-4" >Place a Bid</div> -->
            <button class="btn btn-primary" (click)="onSubmit()">Subscribe Bid Channel</button>
            <button class="btn btn-primary" (click)="onSubmit2()">Place a Bid!</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>