/* Upcoming Section */ 
.upcoming-auctions {
  margin-bottom: 50px;
}

.suggested-for-you{
  margin-bottom: 50px;
}

.auctions-categories{
  margin-bottom: 50px;
}
.auctions-list {
  display: flex;
  justify-content: space-around;
}

.auction-item {
  text-align: center;
}

.auction-item img {
  max-width: 100%;
}


.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}

.heading-container h2 {
  margin: 0; 
}

.heading-container .more-link a {
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
  text-decoration: none; 
  color: #000; 
}

.heading-container .more-link a:hover {
  text-decoration: underline;
}

.upcoming-auctions .container.d-inline-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.upcoming-auctions .container .card {
  width: 18rem;
  margin-right: 15px; 
}

.more-link {
  align-self: center;
  margin-left: auto; 
}

.more-link a {
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
  align-self: center;
  text-decoration: none; 
  color: #000; 
}

.more-link a:hover {
  text-decoration: underline; 
}
/* How it works Section */
.how-it-works {
    
    margin-bottom: 50px;
}

.howitworks{
    font-size: 1.75rem;
}

.steps {
    display: flex;
    justify-content: space-around;
}
  
.step {
    text-align: center;
}
  
/* Feature Section */
.features {
    margin-bottom: 50px;
}
  
.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.feature {
    flex: 0 1 calc(50.333% - 10px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: left; 
}
  
.feature img {
    max-width: 50px;
    margin-right: 10px;
    margin-top: -46px;
}
  
.feature-text {
    display: flex;
    flex-direction: column;
}
    
/* Pricing Section */
.pricing {
  margin-bottom: 50px;
}

.pricing-tiers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tier {
  flex: 0 1 calc(33.333% - 20px);
  margin-bottom: 20px;
  background-color: #ffffff; 
  border: 1px solid #000000; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 0; 
  transition: transform 0.3s; 
  text-align: center;
}

.tier:hover {
  transform: translateY(-10px); 
}

.tier h3 {
  font-size: 1.5rem;
  margin: 0; 
  color: #000000;
  background-color: #e0e0e0; 
  padding: 15px 10px; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom: 1px solid #000000; 
}

.tier .price {
  font-size: 2rem;
  font-weight: bold;
  color: #000000; 
  margin: 20px 0;
}

.tier ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}

.tier ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #000000;
}

.tier .btn {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 20px; 
  font-size: 1rem;
  border-radius: 7px;
  border: 2px solid #000000; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px; 
  width: 270px; 
}

.tier .btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.tier .price-duration {
  font-weight: 100; 
  color: #000000;
}


/* style the headings with a golden underline */
h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

h2::after {
  content: '';
  display: block;
  width: 95%;
  height: 3px;
  background-color: rgb(200, 173, 15); 
  position: absolute;
  bottom: -5px; 
  left: 49%;
  transform: translateX(-50%);
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1432px;
  }
}

.card{
    border: 1px solid rgb(255 255 255 / 13%);
}

.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

.btn{
    border: 2px solid;
}

.btn-outline-dark {
    border-color: #000;
    color: #000;
}

.btn-outline-dark:hover {
    background-color: #000;
    color: #fff;
}

.btn-dark {
    background-color: #000;
    border-color: #000;
}

.btn-dark:hover {
    background-color: #000000;
    border-color: #000000;
}